body {
  font-family: 'Helvetica';
}
.app-logo {
  float: right;
}
.pet-list-entry-profile {
  /*height: 130px;*/
  float: left;
  padding:top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.pet-list-entry-details {
  /*float: right;*/
  /*height: 146px;*/
  padding-left: 5px;
  padding-right: 5px;
}
#app-title {
  font-family: 'Chewy', cursive;
}
